In [2]:
import pandas as pd
import os
df = pd.read_csv("test3.csv")
df

              性別   尺寸   價格
0           male   XL  800
1         female    M  400
2  not specified  XXL  300
3           male    L  500
4         female    S  700
5         female   XS  850